.button--purple,
.button--blue {
  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  border: none;
  min-width: 150px;
  height: 50px;
  padding: 10px 15px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: var(--white);
  background: transparent;
}

.button--purple::before,
.button--blue::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 4px;
  padding: 3px;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.button--purple::before {
  background: linear-gradient(132.33deg, #d24074 -0.67%, #6518b4 102.54%);
}

.button--blue::before {
  background: linear-gradient(51.06deg, #9358f7 0.87%, #10d7e2 97.48%);
}

@media (max-width: 480px) {
  .button--purple,
  .button--blue {
    width: 45%;

    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }
}
