.home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;

  font-family: "Inter", sans-serif;

  background: var(--dark);
}

.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 42px;

  width: 100%;
  height: calc(100vh - 100px);
}

.welcome__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.welcome__introduction {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;

  color: var(--light);
}

.welcome__name {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  text-transform: uppercase;

  color: var(--blue);
}

.welcome__profession {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
  text-transform: uppercase;

  color: var(--light);
}

.welcome__img {
  position: absolute;
  right: 0;

  width: 1022px;
  height: calc(100vh - 100px);
}

.welcome__buttons {
  display: flex;
  gap: 14px;
}

.about-me {
  display: flex;
  justify-content: center;
  gap: 10vw;

  width: 100%;

  background: var(--dark-200);
}

.about-me__img {
  width: 34%;
  border-radius: 50%;
}

.about-me__information {
  width: 50%;

  font-style: normal;
}

.about-me__title {
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;

  color: var(--light);
}

.about-me__subtitle {
  margin-bottom: 12px;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: var(--light);
}

.about-me__paragraph {
  margin-bottom: 32px;

  font-weight: 300;
  font-size: 18px;
  line-height: 32px;

  color: var(--gray-light);
}

.about-me__social-media {
  display: flex;
  gap: 34px;

  margin-bottom: 32px;
}

.about-me__media {
  cursor: pointer;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 26px;

  background: var(--dark);
}

.experience__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;

  color: var(--light);
}

.experience__data {
  display: flex;
  justify-content: flex-start;
  gap: 88px;

  width: 100%;
}

.experience__description {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.experience__header {
  display: flex;
  justify-content: space-between;
}

.experience__office {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: var(--light);
}

.experience__period {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: var(--light);
}

.experience__company-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: var(--blue);
}

.experience__paragraph {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;

  color: var(--gray-light);
}

@media (max-width: 480px) {
  .welcome {
    justify-content: flex-start;
    align-items: center;

    width: 100vw;
    height: 44vh;
  }

  .welcome__img {
    display: none;
  }

  .welcome__text {
    width: 100%;
  }

  .welcome__introduction {
    font-size: 16px;
    line-height: 19px;
  }

  .welcome__name {
    font-size: 32px;
    line-height: 39px;
  }

  .welcome__profession {
    font-size: 16px;
    line-height: 24px;
  }

  .welcome__buttons {
    justify-content: space-between;
    width: 100%;
    gap: 0;
  }

  .about-me {
    justify-content: center;
    gap: 0;

    width: 100%;
    padding: 50px 0;
  }

  .about-me__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;

    color: var(--light);
  }

  .about-me__subtitle {
    font-size: 16px;
    line-height: 19px;
  }

  .about-me__paragraph {
    font-size: 14px;
    line-height: 20px;
  }

  .about-me__img {
    display: none;
  }

  .about-me__information {
    width: 100%;
  }

  .experience {
    gap: 24px;
  }

  .experience__data {
    flex-direction: column;
    gap: 40px;
  }

  .experience__companies {
    display: flex;
  }

  .experience__description {
    gap: 18px;
  }

  .experience__header {
    position: relative;
  }

  .experience__period {
    position: absolute;
    right: 0px;
    bottom: -42px;
  }
}
