.home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;

  font-family: "Inter", sans-serif;

  background: var(--dark);
}

.welcome {
  display: flex;
  align-items: flex-end;
  gap: 42px;

  height: calc(100vh - 100px);
}

.welcome__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;

  width: 60%;
  height: 100%;
}

.welcome__introduction {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;

  color: var(--white);
}

.welcome__name {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  text-transform: uppercase;

  color: var(--blue);
}

.welcome__profession {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: justify;
  text-transform: uppercase;

  color: var(--white);
}

.welcome__img {
  width: 40%;
}

.about-me {
  display: flex;
  justify-content: center;
  gap: 10vw;

  background: var(--dark-200);
}

.about-me__img {
  width: 400px;
  border-radius: 50%;
}

.about-me__information {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;

  font-style: normal;
}

.about-me__title {
  margin-bottom: 32px;
}

.about-me__subtitle {
  margin-bottom: 12px;

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: var(--white);
}

.about-me__paragraph {
  margin-bottom: 32px;

  font-weight: 300;
  font-size: 18px;
  line-height: 32px;

  color: var(--gray-white);
}

.about-me__social-media {
  display: flex;
  gap: 34px;

  margin-bottom: 32px;
}

.about-me__media {
  cursor: pointer;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 26px;

  height: 88vh;

  background: var(--dark);
}

.experience__data {
  display: flex;
  justify-content: flex-start;
  gap: 88px;

  width: 100%;
}

.experience__description {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.experience__header {
  display: flex;
  justify-content: space-between;
}

.experience__office {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: var(--white);
}

.experience__period {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: var(--white);
}

.experience__company-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: var(--blue);
}

.experience__paragraph {
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;

  color: var(--gray-white);
}

.skills {
  background: var(--dark-200);
}

.skills__top {
  display: flex;
  justify-content: center;
  gap: 4vw;

  padding: 20px;
  margin-bottom: 40px;
}

.skills__stack {
  cursor: pointer;

  padding: 10px;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: var(--white);
}

.skills__stack.active,
.skills__stack:hover {
  border-bottom: 2px solid var(--blue);
}

.skills__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;
}

.skills__img:hover {
  transition: 0.5s;
  -moz-transform: translate(0px, -14px);
  -webkit-transform: translate(0px, -14px);
  -o-transform: translate(0px, -14px);
  -ms-transform: translate(0px, -14px);
  transform: translate(0px, -14px);
}

.skills__img {
  width: 100px;
}

.projects__title {
  margin-bottom: 60px;
}

.projects__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 900px) {
  .welcome {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0;

    height: calc(70vh - 100px);
  }

  .welcome__text {
    align-items: center;

    width: 100%;
    height: 50%;
  }

  .welcome__img {
    width: 60%;
  }

  .about-me {
    flex-direction: column;
    align-items: center;
    gap: 2vh;
  }

  .about-me__information {
    width: 100%;
  }

  .about-me__img {
    width: 300px;
  }

  .experience {
    width: 100%;
    height: 40vh;
  }

  .experience__data {
    justify-content: space-between;
    gap: 2vw;
  }
}

@media (max-width: 540px) {
  .welcome {
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 44vh;
  }

  .welcome__img {
    display: none;
  }

  .welcome__text {
    width: 100%;
  }

  .welcome__introduction {
    font-size: 16px;
    line-height: 19px;
  }

  .welcome__name {
    font-size: 32px;
    line-height: 39px;
  }

  .welcome__profession {
    font-size: 16px;
    line-height: 24px;
  }

  .welcome__buttons {
    justify-content: space-between;
    width: 100%;
    gap: 0;
  }

  .about-me {
    justify-content: center;
    gap: 0;

    width: 100%;
    padding: 50px 0;
  }

  .about-me__subtitle {
    font-size: 16px;
    line-height: 19px;
  }

  .about-me__paragraph {
    font-size: 14px;
    line-height: 20px;
  }

  .about-me__img {
    display: none;
  }

  .about-me__information {
    width: 100%;
  }

  .experience {
    height: 80vh;
    gap: 24px;
  }

  .experience__data {
    flex-direction: column;
    gap: 40px;
  }

  .experience__companies {
    display: flex;
  }

  .experience__description {
    gap: 18px;
  }

  .experience__header {
    position: relative;
  }

  .experience__period {
    position: absolute;
    right: 0px;
    bottom: -42px;
  }

  .skills__stack {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }

  .skills__img {
    width: 60px;
  }

  .projects {
    width: 100%;
  }

  .projects__cards {
    display: flex;
    flex-direction: column;
    gap: 38px;
  }
}
