.header {
  display: flex;
  justify-content: center;

  height: 100px;
  width: 100%;

  background: var(--dark);
}

.header__img {
  display: none;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  border-bottom: 2px solid var(--dark-200);
}

.header__logo {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: var(--blue);
}

.header__links {
  display: flex;
  gap: 62px;
}

.header__text {
  cursor: pointer;

  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: var(--gray-white);
}

.header__text:hover {
  transition: 0.5s;
  color: var(--white);
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 900px) {
  .header__nav {
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }

  .header__links {
    gap: 4vw;
  }
}

@media (max-width: 540px) {
  .header {
    width: 100vw;
  }

  .header__nav {
    position: relative;

    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    border-bottom: none;
  }

  .header__links {
    display: none;
    gap: 66px;
  }

  .header__img {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 0;

    display: block;

    width: 40px;
  }

  .header__logo {
    font-size: 18px;
    line-height: 22px;
  }

  .header--mobile {
    position: fixed;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    height: 100vh;
    width: 100vw;

    background: var(--dark);
  }

  .header--mobile .header__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-top: 38px;
    height: 100%;
  }

  .header--mobile .header__links {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 80vh;
    width: 100%;
  }

  .header__links.open {
    transition: transform 0.3s ease-in;
    animation-name: slide;
    animation-duration: 0.3s;
  }
}
