.company-button,
.company-button--active {
  width: 18vw;
  padding: 17px 30px;
}

.company-button {
  border-left: 2px solid var(--dark-200);

  font-weight: 300;
  font-size: 18px;
  line-height: 22px;

  color: var(--gray-white);
  background: transparent;
}

.company-button--active {
  border-left: 2px solid var(--blue);

  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: var(--white);
  background: var(--dark-200);
}

@media (max-width: 900px) {
  .company-button,
  .company-button--active {
    padding: 12px 10px;
  }
}

@media (max-width: 540px) {
  .company-button--border {
    border-bottom: 2px solid var(--blue);
  }

  .company-button,
  .company-button--active {
    width: 50vw;
    margin-bottom: 17px;
    border-left: 0;

    font-weight: 500;

    color: var(--white);
    background: var(--dark-200);
  }
}
