:root {
  --blue: #00d2df;
  --dark: #121212;
  --dark-200: #151515;
  --gray-light: #c4c4c4;
  --light: #ffffff;
  --purple: #ff1cf7;
}

.container {
  padding-left: 10vw;
  padding-right: 10vw;
}

@media (max-width: 480px) {
  .container {
    padding-left: 6vw;
    padding-right: 6vw;
  }
}
