:root {
  --blue: #00d2df;
  --blue-200: #00AAB4;
  --dark: #121212;
  --dark-200: #151515;
  --gray: #c4c4c4;
  --white: #ffffff;
}

button {
  cursor: pointer;

  border: none;
}

.link {
  width: 210px;
  height: 50px;

  text-decoration: none;
}

.container {
  padding-left: 10vw;
  padding-right: 10vw;
}

.section {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0em;
  text-transform: uppercase;

  color: var(--white);
}

@media (max-width: 900px) {
  .title {
    text-align: center;
  }
}

@media (max-width: 540px) {
  .container {
    padding-left: 6vw;
    padding-right: 6vw;
  }

  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .link {
    width: 100%;
  }
}
